.container{
    width: 100%;
    background-color: #f5efef;

    
}
.dashboard{
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
  
    /* height: 100%; */
   
}
.dashboard .box{
    margin-top:5vh ;
}
/* .box div{
    text-align: center;
} */
h4{
    margin: 0;
    margin-top: 10px;
}
h3{
    margin: 0;
}