.app{
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    /* border: 1px solid black; */
}

body{
    margin: 0;
    padding: 0;
}

  .Sidebar{
    height: 100%;
    width: 250px;
    background-color: #48514f;

  }

  .sidebarList{
    height: auto;
    padding: 0;
    width: 100%;
  }

  .sidebarList .row{
width: 99%;
height: 50px;
/* border: 1px solid black; */
list-style-type: none;
margin: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }

  .sidebarList .row:hover{
     cursor: pointer;
     background-color: aliceblue;
  }

  .row #icon{
    flex: 30%;
    display: grid;
    place-items:center;
  }
  .row #title{
    flex: 70%;
  }